/* Your code here */

/* Supplied CSS follows. */
.header-nav__group {
  display: flex;
}

.header-nav__button {
  display: inline-flex;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.3);
  box-shadow: none;
  color: #fff;
  line-height: 32px;
  margin: 0 4px 0 0;
  transition: 0.1s ease;
  white-space: nowrap;
  padding: 8px;
  height: 20px;
}

.header-nav__button#search > input {
  border-style: none;
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.header-nav__button > .boards-label {
  font-weight: 700;
  padding-left: 4px;
}

.header-nav__trello-logo {
  opacity: 0.5;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 5px;
}

.header-nav__button > i {
  width: 24px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
}

.header-nav__container {
  background-color: #026aa7;
  font-size: 16px;
  line-height: 20px;
  padding: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
}

#alerts {
  background-color: #cf513d;
}

@media screen and (max-width: 730px) {
  .boards-label {
    display: none;
  }

  #search {
    display: none;
  }
}

.team__container {
  background-color: #f4f5f7;
  padding: 32px;
}

.team__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 650px;
  text-align: center;
}

.team__info > h1 {
  margin: 0 0 12px;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.team__info > a {
  color: #172b4d;
  line-height: 20px;
}

.tabbed-nav__container {
  background-color: #f4f5f7;
}

.tabbed-nav__group {
  border-bottom: 1px solid #dfe1e6;
  display: flex;
  justify-content: center;
}

.tabbed-nav__link {
  background-color: white;
  border: 1px solid #dfe1e6;
  border-bottom: 0;
  border-radius: 2px;
  font-weight: bold;
  line-height: 20px;
  padding: 10px;
  margin: 0 5px;
  color: #172b4d;
}

@media screen and (min-width: 500px) {
  .tabbed-nav__group {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .tabbed-nav__group {
    display: flex;
    flex-direction: column;
  }
  .tabbned-nav__link {
    display: block;
  }
}

.boards__container {
  margin: 0 auto;
  padding: 32px;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}

.boards__sidebar {
  background-color: #6c547b;
  border-radius: 3px;
  margin: 0 32px 32px 0;
  padding: 0 20px 32px 20px;
  max-height: 130px;
  max-width: 180px;
  width: 20%;
  flex: 0 0 220px;
}

.boards__sidebar > .title a {
  color: white;
}

.boards__sidebar > .description {
  color: lightblue;
}

.boards__group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.boards__board {
  background-color: hotpink;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: bold;
  height: 100px;
  margin: 0 8px 16px;
  padding: 4px 8px;
  position: relative;
  color: white;
  display: flex;
  flex: 1 1 250px;
  flex-direction: column;
  justify-content: space-evenly;
}
