.container {
  width: 1000px;
  margin: 5rem auto;
}

.form-main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.form-element {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.form-statusdate {
  display: flex;
  justify-content: center;
}

.form-statusdatereal {
  width: 300px;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}

#date {
  width: 100%;
}

select {
  width: 100%;
}
