h1 {
  font-size: ;
  font-family: ;
  padding: ;
  margin: ;
  font-weight: ;
  text-decoration: ;
  color: ;
  background-color: ;
}

h2 {
  font-size: ;
  font-family: ;
  padding: ;
  margin: ;
  font-weight: ;
  color: ;
  background-color: ;
}

p {
  font-family: ;
  font-size: ;
  padding: ;
  margin: ;
  color: ;
  background-color: ;
}

.logo {
  background-size: cover;
  background-image: url(https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png);
  background-color: white;
  height: 100px;
  width: 100px;
}
